<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0, minimal-ui" />
    <link rel="stylesheet" type="text/css" href="./seat-select/css/styles.css" />
    <title>Confirmed!</title>
</head>

<body>
    <div class='main'>
        <header class='header'>
            <h1 class='header-logo'>Air Slingshot</h1>
    </div>
    <div class="content">
        <div class="form-container">
            <h2>Enter your reservation ID!</h2>
            <form id="reservationSearch" class="content" name="salesForm" onsubmit="findReservation(event)">
                <div class="form-content user">

                    <div class='form-item'>
                        <label for="reservationId">Reservation ID</label>
                        <input id="reservationId" type="text" name="reservationId" placeholder="Your reservation ID"
                            required />
                    </div>
                    <button class='button confirm' id='confirm-button'>
                        <div class="lds-dual-ring"></div>
                        Search
                    </button>
                </div>
            </form>
        </div>
    </div>
    </div>
    <p class='footer-logo'>The only way to fly!</p>
    <script src="./seat-select/js/view-reservation.js"></script>
</body>

</html>